body {
    display: grid;
    grid: auto auto / 1fr 4fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    padding: 0px 50px 20px 50px;
    font-size: 1.5rem;
}

.header-row-1, .header-row-2 {
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    margin-right: 5%;
    flex: 1;
    gap: 2%;
    align-items: center;
}

form label {
    display: flex;
    align-items: center;
}

form input {
    flex: 1;
    border: none;
    background-color: lightgrey;
    height: 2rem;
    border-radius: 1rem;
}

.header-icon {
    height: 25px;
}

.header-row-1 .user-icon {
    height: 60px;
}

.header-row-2 .user-icon {
    height: 100px;
}

.greeting {
    display: flex;
    gap: 3%;
    justify-content: flex-start;
    font-size: 1rem;
    flex: 1;
}

.name-greeted {
    font-size: 1.6rem;
    font-weight: 700;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    gap: 10px;
}

.header-buttons button {
    border: none;
    background-color: steelblue;
    width: 100px;
    border-radius: 25px;
    padding: 12px 25px;
    color: white;
    font-size: 1rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: inherit;
}


.navigation-column {
    background-color: steelblue;
    color: white;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    box-shadow: 10px 0 10px rgba(0,0,0,0.5);
    z-index: 2;
}

.navigation-column-header {
    display: grid;
    grid-template-columns: 100px auto;
    row-gap: 20px;
    align-items: center;
    padding-top: 20px;
}

h1 {
    margin: 0;
}

.navigation-column-header img {
    filter: invert(1);
    height: 60px;
    justify-self: center;
}

.nav-links, .settings-links {
    display: grid;
    grid-template-columns: 100px auto;
    row-gap: 20px;
    align-items: center;
    font-size: 1.5rem;
    margin-block: 0;
}

.nav-links img, .settings-links img {
    filter: invert(1);
    height: 30px;
    justify-self: center;
}


.navigation-column > img {
    height: 4rem;
    filter: invert(1);
    vertical-align: middle;
}

.header {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    z-index: 1;
}

.cards-container {
    background-color: ivory;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    padding: 0px 50px;
}

.cards-container > div {
    display: grid;
    gap: 20px;
    grid-template-rows: max-content;
}

.cards-container h2 {
    margin-bottom: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1 / -1;
    gap: 20px;
}

.projects h2 {
    grid-column: 1 / -1;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

.card p {
    color: darkslategray;
}

.card .user-icon {
    height: 80px;
}

.projects .card {
    border-left: 10px solid gold;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    font-size: 2em;
}
li img {
    height: 1em;
    filter: invert(1);
    vertical-align: middle;
}
.announcement-description {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.trending .card {
    display: grid;
    grid-template-columns: max-content 1fr;
}

#trending-username {
    color: black;
}

#trending-username span {
    font-weight: 500;
    color: darkslategray;
}